body{
    background-color: black;
    color: #F6F6F6;
    height: 100vh;
    box-sizing: border-box ;
    display: flex;
    width: 100%;
}

.apresentacao {
    margin: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wrapper-conteudo {
    width: 615px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.titulo-main {
    font-size: 36px;
    font-family: "Krona One", serif;
}

.paragrafo-main {
    font-size: 24px;
    font-family: "Montserrat", serif;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
        
.main-button {  
    font-size: 24px;
    text-decoration: none;
    color: black;
    border-radius: 8px;
    background-color: #F6B3C6;
    padding: 21.5px 53px;
    cursor: pointer;
    margin-left: 50px;
}
.imagem-main {
    border-radius: 16px;
    box-shadow: 18px 19px #F6B3C6;
    margin-left: 70px;
}
.marca-texto {
    color: #F6B3C6;
}
