body{
    background-color: black;
    color: #F6F6F6;
    height: 100vh;
    box-sizing: border-box ;
}

.apresentacao {
    margin: 10% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wrapper-conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.titulo-main {
    font-size: 36px;
    font-family: "Krona One", serif;
}

.paragrafo-main {
    font-size: 24px;
    font-family: "Montserrat", serif;
}

.buttons {
    display: flex;
    justify-content: space-between;
}
        
.main-button {  
    background-color: #F6B3C6;
    width: 280px;
    text-align: center;
    border-radius: 16px;
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    transition: transform 0.2s ease-in-out;
}

.imagem-main {
    border-radius: 16px;
    box-shadow: 18px 19px #F6B3C6;
    margin-left: 70px;
}

.hoverd{
    transition: transform 0.2s ease-in-out;
}

.hoverd:hover{
    transform: scale(1.1);
}

.main-button:hover{
    background-color: #E4FDE1;
    transform: scale(1.1);
}

.marca-texto {
    color: #F6B3C6;
}
