:root {
    --cor-primaria: #000000;
    --cor-secundaria: #f6f6f6;
    --cor-tercearia: #F6B3C6;
    --cor-hover: #272727;

    --fonte-primaria: "Krona One", serif;
    --fonte-secundaria: "Montserrat", serif;
}

body{
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    box-sizing: border-box ;
}

.cabecalho-main {
    padding: 2% 0 0 15%;
}

.cabecalho-nav {
    display: flex;
    gap: 80px;
}

.cabecalho-link {
    font-family: var(--fonte-secundaria);
    color: var(--cor-tercearia);
    font-size: 1.5rem;
    font-weight: 600;
}

.apresentacao {
    gap: 82px;
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wrapper-conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.titulo-main {
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
}

.paragrafo-main {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
}

.subtitulo-main {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}

.buttons {
    display: flex;  
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}

.gambi {
    margin-bottom: 4px;
}

.main-button {  
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border: 2px solid var(--cor-tercearia);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    transition: transform 0.2s ease-in-out;
}

.imagem-main {
    width: 50%;
    border-radius: 16px;
    box-shadow: 18px 19px var(--cor-tercearia);
}

.main-button:hover{
    background-color: var(--cor-hover);
    transform: scale(1.1);
}

.marca-texto {
    color: var(--cor-tercearia);
}

.rodape-main {
    font-family: var(--fonte-secundaria);
    color: var(--cor-primaria);
    font-size: 1.5rem;
    background-color: var(--cor-tercearia);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 24px;
}

@media (max-width: 1200px ) {

    .cabecalho-main {
        padding: 10%;
    }

    .cabecalho-nav {
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .wrapper-conteudo {
        width: auto;
    }
}